<div class="container col-xxl">
  <h1 mat-dialog-title>Edit transaction</h1>
  <form mat-dialog-content (ngSubmit)="onSubmit()">
    <div class="form-inl mt-2 font-style">
      <label class="ms-1">Name</label>
      <input type="text" class="form-control mt-1" id="name" name="name" [(ngModel)]="originalTransaction.name">
    </div>
    <div class="form-group mt-2 font-style">
      <label class="ms-1">Amount</label>
      <input type="text" class="form-control mt-1" id="amount" name="amount" [(ngModel)]="originalTransaction.amount">
    </div>
    <div class="form-group mt-2 font-style">
      <label class="ms-1">Proceed type</label>
      <select class="form-control mt-1" id="proceedType" name="proceedType" [(ngModel)]="originalTransaction.proceedType">
        <option value="EXPENDITURE">Expenditure</option>
        <option value="INCOME">Income</option>
      </select>
    </div>
    <div class="form-group mt-2 font-style">
      <label class="ms-1">Payment type</label>
      <select class="form-control mt-1" id="paymentType" name="paymentType" [(ngModel)]="originalTransaction.paymentType">
        <option value="CARD">Card</option>
        <option value="CASH">Cash</option>
      </select>
    </div>
    <div class="form-group mt-2 font-style">
      <label class="ms-1">Description</label>
      <input type="text" class="form-control mt-1" id="description" name="description" [(ngModel)]="originalTransaction.description">
    </div>
    <div class="form-group mt-2 font-style">
      <label class="ms-1">Creator</label>
      <input type="text" class="form-control mt-1" id="creatorUsername" name="creatorUsername" [(ngModel)]="originalTransaction.creatorUsername" disabled>
    </div>
    <div class="form-group mt-2 font-style">
      <label class="ms-1">Create date</label>
      <input type="text" class="form-control mt-1" id="createDate" name="createDate" [(ngModel)]="originalTransaction.createDate" disabled>
    </div>
    <div mat-dialog-actions>
      <button type="submit" mat-button mat-dialog-close>Submit</button>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </form>
</div>
