<div class="container">
  <div class="row my-3">
    <div class="col-sm">
      <h1 class="">Finance Tracker</h1>
      <button type="button" class="btn btn-light" (click)="login()" *ngIf="!loggedIn">Login</button>
    </div>
    <div class="col-sm d-flex justify-content-end" *ngIf="loggedIn">
      <button type="button" class="btn btn-light me-2" (click)="logout()">Logout</button>
<!--      <button type="button" class="btn btn-light"><i class="bi bi-person-circle"></i></button>-->
    </div>
  </div>
</div>
